div {
  width: 100px !important;
}

#tar {
  width: 50px;
  height: 100px;
}

.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1.elem1 {
  height: 50px;
}